/* You can add global styles to this file, and also import other style files */
.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.center {
    text-align: center;
}
